body {
    background-color: #99CCFF;
}
h1 {
    color: #990033;
    margin-left: 40px;
    font-size: 40px;
    text-decoration: underline;
} 
h2 {
    color: #990034;
    margin-left: 20px;
    font-size: 30px;
    font-style: italic;
}
p{
    color: black;
}
a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #ffffff;
    background-color: MediumSeaGreen;
    width: 120px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

a:hover, a:active {
    background-color: MediumSeaGreen;
}
